<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Moviehive | Watch TV & Movies Free Online Streaming</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">

    <meta http-equiv="content-language" content="en" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <link rel="dns-prefetch" href="https://www.gstatic.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
    <link rel="dns-prefetch" href="https://static.zdassets.com/">

    <link rel="dns-prefetch" href="https://connect.facebook.net/">
    <link rel="dns-prefetch" href="https://graph.facebook.com/">
    <meta name="description" content="Are you looking for the best site for watching movies online? A site that is not only free but also safe? If yes, search no more, you are at the right place. Moviehive allows users to watch thousands of movies and TV shows in HD quality. You are completely safe on the site as we do not have any ads or require any registration. Although we are free of charge, our quality is on the same par with that of paid streaming services. Our content library is huge with dozens of thousands of titles and our features are excellent. Only on Moviehive can you watch your favorite movies seamlessly with no buffering, lagging, redirects, and pop ups. We also update new titles on a daily basis so rest assured, fun never ends on DopeBox. Your complete satisfaction is our ultimate goal; therefore, do not hesitate to contact us should you have any issues, inquiries, or requests regarding the site. 
        " />
    <meta name="keywords"
        content="Are you looking for the best site for watching movies online? A site that is not only free but also safe? If yes, search no more, you are at the right place. Moviehive allows users to watch thousands of movies and TV shows in HD quality. You are completely safe on the site as we do not have any ads or require any registration. Although we are free of charge, our quality is on the same par with that of paid streaming services. Our content library is huge with dozens of thousands of titles and our features are excellent. Only on Moviehive can you watch your favorite movies seamlessly with no buffering, lagging, redirects, and pop ups. We also update new titles on a daily basis so rest assured, fun never ends on DopeBox. Your complete satisfaction is our ultimate goal; therefore, do not hesitate to contact us should you have any issues, inquiries, or requests regarding the site." />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="movies.png" type="image/x-icon" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.moviehive.lol/" />
    <meta property="og:title" content="Watch Free The Equalizer 3 Full Movies Online" />
    <meta property="og:image" content="https://i.imgur.com/XPGH0bm.jpeg" />
    <meta property="og:image:width" content="650">
    <meta property="og:image:height" content="350">
    <meta property="og:description"
        content="Are you looking for the best site for watching movies online? A site that is not only free but also safe? If yes, search no more, you are at the right place. Moviehive allows users to watch thousands of movies and TV shows in HD quality. You are completely safe on the site as we do not have any ads or require any registration. Although we are free of charge, our quality is on the same par with that of paid streaming services. Our content library is huge with dozens of thousands of titles and our features are excellent. Only on Moviehive can you watch your favorite movies seamlessly with no buffering, lagging, redirects, and pop ups. We also update new titles on a daily basis so rest assured, fun never ends on DopeBox. Your complete satisfaction is our ultimate goal; therefore, do not hesitate to contact us should you have any issues, inquiries, or requests regarding the site." />
    <!--Begin: Stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="https://dopebox.to/css/group_11/theme_3/style.min.css?v=8.4">
    <!--End: Stylesheet-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script>var recaptcha_site_key = '6LdAgkccAAAAAJnU6Fsj6187-R49j5a84IgLHmoN';</script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdAgkccAAAAAJnU6Fsj6187-R49j5a84IgLHmoN"></script>


</head>

<body>


    <div id="wrapper">
        <div id="header">
            <div class="container">
                <div id="mobile_search"><i class="fa fa-search"></i></div>
                <a href="/" id="logo" title="Moviehive.lol">
                    <img src="./movies.png" alt="Logo">

                    <div class="clearfix"></div>
                </a>
                <!--Begin: Menu-->

                <!--End: Menu-->
                <div id="search">
                    <div class="search-content">
                        <form class="search-form" @submit="search">
                            <div class="search-icon"><i class="fa fa-search"></i></div>
                            <input v-model="keyword" type="text" class="form-control search-input" autocomplete="off"
                                name="keyword" placeholder="Enter keywords...">
                        </form>
                        <div class="nav search-result-pop search-suggest"></div>
                    </div>
                </div>

            </div>
        </div>
        <!--Begin: Main-->
        <div id="main-wrapper">
            <!--Begin: Informartion-->
            <div class="information_page">
                <div class="container">
                    <div class="information_page-wrap">
                        <div class="prebreadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/" title="Home">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
                                </ol>
                            </nav>
                        </div>
                        <article class="article-infor">
                            <h2 class="h2-heading">Terms and Conditions</h2>
                            <p>This Agreement contains the complete terms and conditions that apply to your
                                participation in
                                our site. If you wish to use the site including its tools and services please read these
                                terms of use carefully. By accessing this site or using any part of the site or any
                                content
                                or services hereof, you agree to become bound by these terms and conditions. If you do
                                not
                                agree to all the terms and conditions, then you may not access the site or use the
                                content
                                or any services in the site.</p>
                            <p></p>
                            <h4 class="h4-heading">Modifications of Terms and Conditions</h4>
                            <p>Amendments to this agreement can be made and effected by us from time to time without
                                specific notice to your end. Agreement posted on the Site reflects the latest agreement
                                and
                                you should carefully review the same before you use our site.</p>
                            <h4 class="h4-heading">Use of the site</h4>
                            <p>The Site allows you to post offers, sell, advertise, bid and shop online. However, you
                                are
                                prohibited to do the following acts, to wit: (a) use our sites, including its services
                                and
                                or tools if you are not able to form legally binding contracts, are under the age of 18,
                                or
                                are temporarily or indefinitely suspended from using our sites, services, or tools (b)
                                posting of an items in inappropriate category or areas on our sites and services; (c)
                                collecting information about users’ personal information; (d) maneuvering the price of
                                any
                                item or interfere with other users’ listings; (f) post false, inaccurate, misleading,
                                defamatory, or libelous content; (g) take any action that may damage the rating system.
                            </p>
                            <h4 class="h4-heading">Registration Information</h4>
                            <p>For you to complete the sign-up process in our site, you must provide your full legal
                                name,
                                current address, a valid email address, member name and any other information needed in
                                order to complete the signup process. You must qualify that you are 18 years or older
                                and
                                must be responsible for keeping your password secure and be responsible for all
                                activities
                                and contents that are uploaded under your account. You must not transmit any worms or
                                viruses or any code of a destructive nature. Any information provided by you or gathered
                                by
                                the site or third parties during any visit to the site shall be subject to the terms of
                                YesMovies.to’s Privacy Policy.</p>
                            <h4 class="h4-heading">Modifications of Terms and Conditions</h4>
                            <p>Amendments to this agreement can be made and effected by us from time to time without
                                specific notice to your end. Agreement posted on the Site reflects the latest agreement
                                and
                                you should carefully review the same before you use our site.</p>
                            <h4 class="h4-heading">Use of the site</h4>
                            <p>The Site allows you to post offers, sell, advertise, bid and shop online. However, you
                                are
                                prohibited to do the following acts, to wit: (a) use our sites, including its services
                                and
                                or tools if you are not able to form legally binding contracts, are under the age of 18,
                                or
                                are temporarily or indefinitely suspended from using our sites, services, or tools (b)
                                posting of an items in inappropriate category or areas on our sites and services; (c)
                                collecting information about users’ personal information; (d) maneuvering the price of
                                any
                                item or interfere with other users’ listings; (f) post false, inaccurate, misleading,
                                defamatory, or libelous content; (g) take any action that may damage the rating system.
                            </p>
                            <h4 class="h4-heading">Registration Information</h4>
                            <p>For you to complete the sign-up process in our site, you must provide your full legal
                                name,
                                current address, a valid email address, member name and any other information needed in
                                order to complete the signup process. You must qualify that you are 18 years or older
                                and
                                must be responsible for keeping your password secure and be responsible for all
                                activities
                                and contents that are uploaded under your account. You must not transmit any worms or
                                viruses or any code of a destructive nature. Any information provided by you or gathered
                                by
                                the site or third parties during any visit to the site shall be subject to the terms of
                                YesMovies.to’s Privacy Policy.</p>
                        </article>
                    </div>
                </div>
            </div>
            <!--End: Informartion-->
        </div>
        <!--End: Main-->
        <div style="text-align:center;margin-bottom: 20px;margin-top:20px;display:none;" id="hgiks-bottom"></div>
        <div id="footer">
            <h1 style="display: none;">Watch TV Online Streaming | Watch Free Movies Online</h1>

        </div>
        <div id="footer-about">
            <div class="container">
                <div class="about-text">
                    Moviehive.lol is a Free Movies streaming site with zero ads.
                    We let you watch movies online without having to register or paying, with over 10000 movies and
                    TV-Series.
                    You can also Download full movies from MoviesCloud and watch it later if you want.
                </div>
                <p class="copyright">© Moviehive.lol</p>
            </div>
        </div>

    </div>
    <div class="modal fade premodal premodal-login" id="modallogin" tabindex="-1" role="dialog"
        aria-labelledby="modallogintitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-login-tabs">
                    <div class="mlt-item active">
                        <button type="button" class="btn mlt-btn btn-light login-tab-link">Login</button>
                    </div>
                    <div class="mlt-item">
                        <button type="button" class="btn mlt-btn btn-light register-tab-link">Register</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-content">
                    <!--Begin: tab login-->
                    <div id="modal-tab-login" class="tab-pane active auth-tab">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modallogintitle">Welcome back!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="preform model-form" @submit="login" method="post">
                                <div v-if="error_login" class="alert alert-danger" role="alert">{{error_message}}</div>
                                <div class="form-group model-form-group">
                                    <label class="prelabel" for="email">Email address</label>
                                    <input v-model="email" type="email" class="form-control" id="email"
                                        placeholder="name@email.com" required>
                                </div>
                                <div class="form-group model-form-group">
                                    <label class="prelabel" for="password">Password</label>
                                    <input v-model="password" type="password" class="form-control" id="password"
                                        placeholder="Password" required>
                                </div>
                                <div class="form-check custom-control custom-checkbox">
                                    <div class="float-left">
                                        <input name="remember" v-model="remember" type="checkbox"
                                            class="custom-control-input" id="remember">
                                        <label class="custom-control-label" for="remember">Remember me</label>
                                    </div>
                                    <div class="float-right">
                                        <a href="javascript:void(0)"
                                            class="link-highlight text-forgot forgot-tab-link">Forgot password
                                            ?</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group login-btn mt-4">
                                    <button class="btn btn-primary btn-block">Login</button>
                                    <div class="loading-relative" id="login-loading" style="display: none;">
                                        <div class="loading">
                                            <div class="span1"></div>
                                            <div class="span2"></div>
                                            <div class="span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End: tab login-->
                    <!--Begin: tab forgot-->
                    <div id="modal-tab-forgot" class="tab-pane fade auth-tab">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="preform model-form" @submit="forgot_password" method="post">
                                <div class="form-group model-form-group">
                                    <label class="prelabel" for="forgot-email">Your Email</label>
                                    <input v-model="email" type="email" class="form-control" id="forgot-email"
                                        placeholder="name@email.com" required>
                                </div>
                                <div class="form-group login-btn mt-4">
                                    <button class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End: tab forgot-->
                    <!--Begin: tab register-->
                    <div id="modal-tab-register" class="tab-pane fade auth-tab">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="preform model-form" @submit="register" method="post">
                                <div v-if="error_register" class="alert alert-danger" role="alert">{{error_message}}
                                </div>
                                <div class="form-group model-form-group">
                                    <label class="prelabel" for="re-username">Your name</label>
                                    <input v-model="name" type="text" class="form-control" id="re-username"
                                        placeholder="Name" required>
                                </div>
                                <div class="form-group model-form-group">
                                    <label class="prelabel" for="re-email">Email address</label>
                                    <input v-model="email" type="email" class="form-control" id="re-email"
                                        placeholder="name@email.com" required>
                                </div>
                                <div class="form-group model-form-group">
                                    <label class="prelabel" for="re-password">Password</label>
                                    <input v-model="password" type="password" class="form-control" id="re-password"
                                        placeholder="Password" required>
                                </div>
                                <div class="form-group model-form-group">
                                    <label class="prelabel" for="re-confirmpassword">Confirm Password</label>
                                    <input v-model="confirm_password" type="password" class="form-control"
                                        id="re-confirmpassword" placeholder="Confirm Password" autocomplete="off"
                                        required>
                                </div>
                                <div class="form-group login-btn mt-4">
                                    <button class="btn btn-primary btn-block">Register</button>
                                    <div class="loading-relative" id="register-loading" style="display: none;">
                                        <div class="loading">
                                            <div class="span1"></div>
                                            <div class="span2"></div>
                                            <div class="span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End: tab register-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"
        async></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->


    <script type="text/javascript" src="https://dopebox.to/js/group_11/app.min.js?v=6.3"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchForm = document.querySelector('.searchForm');

            if (searchForm) {
                searchForm.addEventListener('submit', function (e) {
                    e.preventDefault();
                    redirectToSearchPage();
                });
            }

            function redirectToSearchPage() {
                const query = document.getElementById('search-input').value.trim();
                if (query) {
                    window.location.href = `search.html?q=${encodeURIComponent(query)}`;
                }
            }
        });

    </script>

</body>

</html>